.single-container
  %header.single-header
    %h1.single-header__logo
      = link_to "#" do
        =image_tag(asset_path("icon/icon_brand.png"))
    %nav.single-header__progress
      %ol
        %li.text-active{ id: "first" }
          会員情報
          .round-red
        %li.text
          お届け先住所入力
          .round-red
        %li.text{ id: "end" }
          完了
          .progress-round
  %main.single-main
    %section.single-main__container
      %h2.single-main__container__title
        会員情報入力
      .form__frame
        = form_for(@user, url: user_registration_path) do |f|
          = render "devise/shared/error_messages", resource: @user

          .form-group
            = f.label :ニックネーム
            %span.form-group__require 必須
            %br
            = f.text_field :nickname, {placeholder: "例) メルカリ太郎",class:'form-group__input'}

          .form-group
            = f.label :メールアドレス
            %span.form-group__require 必須
            %br
            = f.email_field :email, {autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可",class:'form-group__input'}

          .form-group
            = f.label :パスワード
            %span.form-group__require 必須
            %br
            = f.password_field :password,{autocomplete: "password",placeholder: "7文字以上の半角英数字",class:'form-group__input',id:"password"}

          .form-group
            = f.label :パスワード
            %span.form-group__require (確認用)
            %br
            = f.password_field :password_confirmation,{autocomplete: "off",placeholder: "7文字以上の半角英数字",class:'form-group__input',id:"password_confirmation"}
            %p.form-group__info ※ 英字と数字の両方を含めて設定してください

          .form-group
            = f.label :"お名前(全角)"
            %span.form-group__require 必須
          = f.text_field :family_name, {placeholder:"例) 山田",class:'form-group__input--half'}
          = f.text_field :first_name, {placeholder:"例) 彩",class:'form-group__input--half'}

          .form-group
            = f.label :"お名前カナ(全角)"
            %span.form-group__require 必須
          = f.text_field :family_name_kana, {placeholder:"例) ヤマダ",class:'form-group__input--half'}
          = f.text_field :first_name_kana, {placeholder:"例) アヤ",class:'form-group__input--half'}

          .form-group
            = f.label :"生年月日"
            %span.form-group__require 必須
            %br
            .birthday-select-wrap
              != sprintf(f.date_select(:birth_day, start_year: 1980, end_year: Date.today.year, use_month_numbers: true, date_separator:'%s'),'年','月')+'日'

          .form-group
            = f.submit '次へ', class: "btn-default btn-red", url: "destination_path"
