.single-containers
  %header.single-header
    %h1.single-header__logo
      = link_to root_path do
        =image_tag(asset_path("logo/logo.png"))

  %main.single-main
    %section.single-main__container
      %h2.single-main__container__title
        会員情報入力
      .form__frame
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

          .form-group-top
            = f.label :"メールアドレス"
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email",class:'form-group__input'
          .form-group
            = f.label :"パスワード"
            %br/
            = f.password_field :password, autocomplete: "current-password", class:'form-group__input'
          - if devise_mapping.rememberable?
            .form-group
              = f.check_box :remember_me
              = f.label :"パスワードの保存"
          .form-group-submit
            = f.submit "Log in", class:"btn-default-blue"
          .form-group-forget
            = render "devise/shared/links"

  .footer-sale
    .contents
      %ul.contents-list
        %li.content
          = link_to "#", class: "private-policy" do
            プライバシーポリシー
        %li.content
          = link_to "#", class: "user-policy" do
            フリマ利用規約
        %li.content
          = link_to "#", class: "point-policy" do
            ポイントに関する特約
    = link_to "#", class: "logo" do
      = image_tag(asset_path("logo/logo.png"), class:"logo-image")
    .company-name ©︎ FURIMA
