.sub-footer
  .contents
    %ul.contents-list
      %li.content
        = link_to "#", class: "private-policy" do
          プライバシーポリシー
      %li.content
        = link_to "#", class: "user-policy" do
          フリマ利用規約
      %li.content
        = link_to "#", class: "point-policy" do
          ポイントに関する特約
  = link_to "#", class: "logo" do
    = image_tag(asset_path("logo/logo.png"), class:"logo-image")
  .company-name ©︎ FURIMA