
.top-view
  %section.top-view__top-img
    .contents
      %h2.contents__subtitle 
        %br
        人生を変えるフリマアプリ
      %p.contents__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .contents__btn
        = link_to image_tag(asset_path("icon/appstore.svg"), class:"a-btn"), root_path
        = link_to image_tag(asset_path("icon/google-play.svg"), class:"g-btn"), root_path

  %section.top-view__reason
    %h2.title
      FURIMAが選ばれる3つの理由
    %ul.lists
      %li.list
        .list__pict
          %span.number 1
          = image_tag asset_path("pict/pict-reason-01.jpg")
        %h3.list__text
          %span 3分
          ですぐに出品
        %p.list__description
          スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__pict
          %span.number 2
          = image_tag asset_path("pict/pict-reason-02.jpg")
        %h3.list__text
          %span シンプル
          で使いやすい
        %p.list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list
        .list__pict
          %span.number 3
          = image_tag asset_path("pict/pict-reason-03.jpg")
        %h3.list__text
          手数料
          %span 業界最安
        %p.list__description
          最大3%でお得に出品&購入！

  %section.top-view__mid-img
    .contents
      .contents__inner
        %h2.subtitle
          会員数日本一位
        %p.text
          FURIMAは、フリマアプリで最も人気。
          %br
          出品・購入回数も業界最多です！
          %br
          欲しかったあの商品に出会えるかもしれません。
        .btn
          = link_to image_tag(asset_path("icon/appstore.svg"), class:"a-btn"), root_path
          = link_to image_tag(asset_path("icon/google-play.svg"), class:"g-btn"), root_path

  %section.top-view__feature
    %h2.head
      FURIMAの特徴
    .lists
      %section.list
        %figure.list__img
          = image_tag asset_path("icon/icon-01.png")
        %h3.list__title
          簡単に売り買いできる
        %p.list__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section.list
        %figure.list__img
          = image_tag asset_path("icon/icon-02.png")
        %h3.list__title
          売上金は即日振込に対応
        %p.list__detail
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
      %section.list
        %figure.list__img
          = image_tag asset_path("icon/icon-03.png")
        %h3.list__title
          様々な支払いに対応
        %p.list__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  %section.top-view__pickup
    %h2.head
      ピックアップカテゴリー
    .products
      .products__head
        = link_to "/" do
          %h3.title
            新規投稿商品
      .products__lists
        - @products.each do |product|
          .list
            = link_to "/" do
              %figure.list-img
                -if product.buyer_id.present? 
                  %p.sold-out
                    SOLD OUT
                = image_tag product.images.first.src.url
              .list-body
                %h3.name
                  = product.name
                  .details
                    %ul
                      %li
                        = product.price
                        円
                      %li
                        %i.fa.fa-star.likeicon
                        0
                    %p
                      (税込)
          

  %section.top-view__pickup
    %h2.head
      ピックアップブランド
    .products
      .products__head
        = link_to "/" do
          %h3.title
            アーカイブ
      .products__lists
        - @products2.each do |product|
          .list
            = link_to "/" do
              %figure.list-img
                -if product.buyer_id.present? 
                  %p.sold-out
                    SOLD OUT
                = image_tag product.images.first.src.url
              .list-body
                %h3.name
                  = product.name
                  .details
                    %ul
                      %li
                        = product.price
                        円
                      %li
                        %i.fa.fa-star.likeicon
                        0
                    %p
                      (税込)

%aside.bottom-img
  .contents
    %h2.contents__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.contents__text
      今すぐ無料ダウンロード！
    .contents__icon
      = link_to image_tag(asset_path("icon/appstore.svg"), class:"a-btn"), root_path
      = link_to image_tag(asset_path("icon/google-play.svg"), class:"g-btn"), root_path