.main-product
  .product-detail
    .product-detail__main
      .product-detail__main__content
        .detail-box
          .product-name
            = @product.name
          .product-image
            %ul
              %li
                - @product.images.first(1).each do |image|
                  = image_tag image.src.url, class: 'top-image'
                %ul
                  - @product.images[1..3].each do |image|
                    %li
                      = image_tag image.src.url, class: 'sub-image' 
          .product-price
            %span
              ￥
              = @product.price
            .product-price__cost
              %span (税別)
              %span 送料込
          .product-introduction
            = @product.description
          .product-table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td
                    = @product.user.nickname
                %tr
                  %th カテゴリー
                  %td
                    = link_to "#" do
                      = @product.category.parent.parent.name
                      %br
                    = link_to "#" do
                      = @product.category.parent.name
                      %br
                    = link_to "#" do
                      = @product.category.name
                %tr
                  %th ブランド
                  %td
                    = @product.brand.name
                %tr
                  %th 商品のサイズ
                  %td
                    = @product.size.name
                %tr
                  %th 商品の状態
                  %td
                    = @product.status.name
                %tr
                  %th 配送料の負担
                  %td
                    = @product.shippingcost.name
                %tr
                  %th 発送元の地域
                  %td
                    = link_to "#" do
                      = @product.prefecture.name
                %tr
                  %th 発送日の目安
                  %td
                    = @product.shippingdays.name
          .optional-area
            %ul
              %li#like-btn.optional-btn.like-btn
                %i.fa.fa-star
                お気に入り 0
            %ul.optional
              %li.optinal-btn
                = link_to "#" do
                  不適切な商品の通報
        .comment-box
          %ul.comment-contents
          %form.new-comment-form
            %textarea#comment-body
            %p.notice-message
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br
            %button.comment-btn
              %li.fa.fa-comment
              コメントする
      %ul.links
        %li
          = link_to "#" do
            %span
            < 前の商品
        %li
          = link_to "#" do
            %span
            後ろの商品 >
      .relate-item
        = link_to "#" do
          メンズをもっと見る