!!!
%html
  %head
    %title Furimax73
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    .Header
      .HeaderInner
        .HeaderMain
          .HeaderMain__logo
            = link_to root_path do
              = image_tag asset_path("logo/logo.png")
              
          .HeaderMain__search-box
            .HeaderMain__search-box__input
              キーワードから探す
            = link_to root_path do           
              .HeaderMain__search-box__decision
                .search-icon
                  = image_tag asset_path("icon/icon-search 1.png")
        .HeaderNav
          %ul.HeaderNav__lists--left
            %li.list--left
              = link_to root_path do
                カテゴリー
            %li.list--right
              = link_to root_path do
                ブランド
          - if user_signed_in?
            %ul.HeaderNav__lists--right
              %li.list--left
                = link_to root_path do
                  マイページ
              %li.list--right
                = link_to destroy_user_session_path, method: :delete do
                  ログアウト
          - else
            %ul.HeaderNav__lists--right
              %li.list--left
                = link_to new_user_session_path do
                  ログイン
              %li.list--right
                = link_to new_user_registration_path do
                  新規会員登録

    = yield

    .footer
      %ul.contents
        %li.content
          %h2.content__head
            FURIMAについて
          %ul.content__list
            %li
              = link_to root_path do
                会社概要（運営会社）
            %li
              = link_to root_path do
                プライバシーポリシー
            %li
              = link_to root_path do
                FURIMA利用規約
            %li
              = link_to root_path do
                ポイントに関する特約
        %li.content
          %h2.content__head
            FURIMAを見る
          %ul.content__list
            %li
              = link_to root_path do
                カテゴリー一覧
            %li
              = link_to root_path do
                ブランド一覧
        %li.content
          %h2.content__head
            ヘルプ&ガイド
          %ul.content__list
            %li
              = link_to root_path do
                FURIMAガイド
            %li
              = link_to root_path do
                FURIMAロゴ利用ガイドライン
      .footer__logo
        = link_to root_path do
          = image_tag asset_path("logo/logo-white.png")
      %p
        &copy; FURIMA
      = link_to root_path do  
        .sell-btn
          %span.sell-btn__text
            出品する
          = image_tag asset_path("icon/icon_camera.png")     
                  
